.gallery {
  .container {
    padding: 150px 0 120px;
  }

  h2 {
    margin: 30px auto 90px;
    position: relative;
    color: $base-color;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      max-width: 100px;
      height: 1px;
      background-color: $base-color;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .div1 {
      grid-area: 1 / 1 / 3 / 3;
    }

    .div2 {
      grid-area: 1 / 3 / 2 / 4;
    }

    .div3 {
      grid-area: 1 / 4 / 2 / 5;
    }

    .div4 {
      grid-area: 2 / 3 / 3 / 4;
    }

    .div5 {
      grid-area: 2 / 4 / 3 / 5;
    }
  }

  .btn-holder {
    padding-top: 60px;
    text-align: center;

    .btn {
      padding: 16px 57px;

      &:hover {
        background-color: $blue;
        border: none;
        color: $white;
      }
    }
  }

  .zoom {
    transition: transform .2s; /* Animation */

    &:hover {
      transform: scale(1.5);
    }
  }

}

