.what-we-do {
  .container {
    padding-bottom: 150px;
  }

  h2 {
    margin: 30px auto 90px;
    position: relative;
    color: $base-color;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      max-width: 100px;
      height: 1px;
      background-color: $base-color;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
    }
  }

  .article-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
    align-items: flex-end;

    .image-holder {
      position: relative;
      flex: 1 0;
      width: 60%;
      padding-bottom: 50%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;

      }
    }

    &.img-left {
      .image-holder {
        &:before {
          content: "";
          top: -10%;
          left: -40%;
          right: 40%;
          background-color: #55B7FF;
          position: absolute;
          bottom: 10%;
        }
      }

      .article {
        padding-left: 70px;
      }
    }
    &.img-right {
      .image-holder {
        &:before {
          content: "";
          top: -10%;
          left: 40%;
          right: -40%;
          background-color: #55B7FF;
          position: absolute;
          bottom: 10%;
        }
      }

      .article {
        padding-right: 70px;
      }
    }
  }


  .article {
    max-width: 40%;
    width: 100%;
    flex: 1 auto;

    .text {

      span {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: $base-color;
      }

      h2 {
        margin: 0 0 20px;
        text-align: start;

        &::before {
          content: none;
        }
      }

      p {
        line-height: 30px;
        padding: 0 0 40px;
      }

      .btn {
        display: inline;
        transition: all ease-in-out 0.3s;

        &:hover {
          background-color: $blue;
          border: none;
          color: $white;
        }
      }

      .location {
        margin-top: 60px;

        p {
          padding-left: 10px;
          font-family: $base-font-family;
          font-style: italic;
        }
      }
    }
  }
}

.img-right {

}

.article-holder:last-child {
  transform: rotate(1turn);
}
