$white: #FFFFFF;
$black: #000000;
$base-color: #2C4058;
$blue: #55B7FF;
$base-font-size: 18px;
$base-font-weight: 400;
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;
$nav-font-family: 'Source Sans Pro', sans-serif;
$icon-font-family: 'icomoon';
