@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.eot?492bq5");
  src: url("../../assets/fonts/icomoon.eot?492bq5#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.ttf?492bq5") format("truetype"), url("../../assets/fonts/icomoon.woff?492bq5") format("woff"), url("../../assets/fonts/icomoon.svg?492bq5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-down:before {
  content: "\e900";
}

.icon-phone:before {
  content: "\e942";
}

.icon-location:before {
  content: "\e947";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-mail2:before {
  content: "\ea84";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.header {
  padding-top: 53px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.header .nav .nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}

.header .nav .nav-list .nav-item > a {
  position: relative;
}

.header .nav .nav-list .nav-item > a:before {
  content: "";
  height: 9px;
  width: 9px;
  margin-right: 14px;
  background-color: unset;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  transition: all 1s ease-out;
}

.header .nav .nav-list .nav-item > a:hover:before {
  background-color: #FFFFFF;
}

.header .nav .social-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header .nav .social-item {
  padding: 0 20px;
}

.header .nav .social-item:first-child {
  padding-left: 0;
}

.header .nav .social-item:last-child {
  padding-right: 0;
}

.header .nav .social-item a {
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  transition: all 1s ease-out;
  text-align: center;
  line-height: 40px;
}

.header .nav .social-item a:hover {
  background-color: #FFFFFF;
}

.header .nav .social-link {
  color: #FFFFFF;
  transition: color ease-in-out 0.3s;
}

.hero-section {
  background-image: url("../../assets/img/background-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 330px 0;
  z-index: 1;
}

.hero-section:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  mix-blend-mode: multiply;
  z-index: -1;
}

.hero-section h1 {
  text-align: center;
  padding-bottom: 20px;
}

.hero-section p {
  color: #FFFFFF;
  padding-bottom: 240px;
  text-align: center;
}

.hero-section .down-link {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  position: absolute;
  transform: translateY(-50%);
  z-index: 4;
  left: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  bottom: 50px;
}

.hero-section .down-link i {
  line-height: 40px;
}

.hero-section .site-nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.hero-section .site-nav a {
  height: 10px;
  width: 10px;
  margin-bottom: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  transition: all 1s ease-out;
}

.hero-section .site-nav a:hover {
  background-color: #FFFFFF;
}

.latest-news {
  background-image: url("../../assets/img/Background-latest-news.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding: 120px 50px;
}

.latest-news h2 {
  margin: 30px auto 90px;
  position: relative;
  color: #FFFFFF;
  text-align: center;
}

.latest-news h2:before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background-color: #FFFFFF;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.latest-news .slider-outer {
  position: relative;
}

.latest-news .swiper {
  width: 100%;
  height: 100%;
}

.latest-news .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.latest-news .swiper-slide h3 {
  padding: 20px 20px 15px;
  text-align: start;
}

.latest-news .swiper-slide p {
  padding: 20px 20px 10px;
  text-align: left;
  line-height: 25px;
}

.latest-news .swiper-slide .author {
  padding: 10px 0 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.latest-news .swiper-slide .author .data {
  color: #55B7FF;
  font-size: 14px;
}

.latest-news .news {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.latest-news .news-image {
  position: relative;
  padding-bottom: 65%;
}

.latest-news .news-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.latest-news .author {
  margin-top: auto;
}

.latest-news .author img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest-news .swiper-wrapper {
  margin-bottom: 40px;
  height: 520px;
}

.latest-news .swiper-pagination-bullet {
  border: 1px solid #FFFFFF;
  width: 10px;
  height: 10px;
}

.latest-news .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.latest-news .swiper-button-next,
.latest-news .swiper-button-prev {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
}

.latest-news .swiper-button-next:after,
.latest-news .swiper-button-prev:after {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.latest-news .swiper-button-next {
  right: unset;
  left: calc(100% + 10px);
}

.latest-news .swiper-button-prev {
  left: unset;
  right: calc(100% + 10px);
}

.gallery .container {
  padding: 150px 0 120px;
}

.gallery h2 {
  margin: 30px auto 90px;
  position: relative;
  color: #2C4058;
  text-align: center;
}

.gallery h2:before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background-color: #2C4058;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.gallery .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.gallery .grid-container .div1 {
  grid-area: 1/1/3/3;
}

.gallery .grid-container .div2 {
  grid-area: 1/3/2/4;
}

.gallery .grid-container .div3 {
  grid-area: 1/4/2/5;
}

.gallery .grid-container .div4 {
  grid-area: 2/3/3/4;
}

.gallery .grid-container .div5 {
  grid-area: 2/4/3/5;
}

.gallery .btn-holder {
  padding-top: 60px;
  text-align: center;
}

.gallery .btn-holder .btn {
  padding: 16px 57px;
}

.gallery .btn-holder .btn:hover {
  background-color: #55B7FF;
  border: none;
  color: #FFFFFF;
}

.gallery .zoom {
  transition: transform 0.2s;
  /* Animation */
}

.gallery .zoom:hover {
  transform: scale(1.5);
}

.what-we-do .container {
  padding-bottom: 150px;
}

.what-we-do h2 {
  margin: 30px auto 90px;
  position: relative;
  color: #2C4058;
  text-align: center;
}

.what-we-do h2:before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background-color: #2C4058;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.what-we-do .article-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
  align-items: flex-end;
}

.what-we-do .article-holder .image-holder {
  position: relative;
  flex: 1 0;
  width: 60%;
  padding-bottom: 50%;
}

.what-we-do .article-holder .image-holder img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.what-we-do .article-holder.img-left .image-holder:before {
  content: "";
  top: -10%;
  left: -40%;
  right: 40%;
  background-color: #55B7FF;
  position: absolute;
  bottom: 10%;
}

.what-we-do .article-holder.img-left .article {
  padding-left: 70px;
}

.what-we-do .article-holder.img-right .image-holder:before {
  content: "";
  top: -10%;
  left: 40%;
  right: -40%;
  background-color: #55B7FF;
  position: absolute;
  bottom: 10%;
}

.what-we-do .article-holder.img-right .article {
  padding-right: 70px;
}

.what-we-do .article {
  max-width: 40%;
  width: 100%;
  flex: 1 auto;
}

.what-we-do .article .text span {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.what-we-do .article .text h2 {
  margin: 0 0 20px;
  text-align: start;
}

.what-we-do .article .text h2::before {
  content: none;
}

.what-we-do .article .text p {
  line-height: 30px;
  padding: 0 0 40px;
}

.what-we-do .article .text .btn {
  display: inline;
  transition: all ease-in-out 0.3s;
}

.what-we-do .article .text .btn:hover {
  background-color: #55B7FF;
  border: none;
  color: #FFFFFF;
}

.what-we-do .article .text .location {
  margin-top: 60px;
}

.what-we-do .article .text .location p {
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.article-holder:last-child {
  transform: rotate(1turn);
}

footer {
  background-image: url("../../assets/img/Backgroundfooter.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 235px;
  position: relative;
}

footer span {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
  display: block;
}

.get-in-touch {
  max-width: 770px;
  background: #FFFFFF;
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  padding: 60px 60px 70px;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.get-in-touch h2 {
  margin: 30px auto 40px;
  position: relative;
  color: #2C4058;
  text-align: center;
}

.get-in-touch h2:before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background-color: #2C4058;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.get-in-touch .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.get-in-touch .contact .info-holder {
  height: 196px;
  width: 286px;
  align-items: center;
}

.get-in-touch .contact .info-holder p {
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: block;
  color: #000000;
}

.get-in-touch .contact .info-holder i {
  color: #55B7FF;
  padding-right: 5px;
}

.get-in-touch .contact .info-holder a {
  color: #000000;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  display: block;
}

.get-in-touch .contact .input-holder {
  width: 310px;
  height: 195px;
  align-items: center;
}

.get-in-touch .contact .input-holder input {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: #000000;
  text-align: start;
  position: relative;
  border-color: #2C4058;
  border-style: solid;
  border-width: 0 0 1px 0;
  width: inherit;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.get-in-touch .contact .input-holder input:focus-visible,
.get-in-touch .contact .input-holder input:focus {
  outline: none;
}

.get-in-touch .contact .btn {
  margin-right: 0;
  margin-left: auto;
  display: block;
  transition: all ease-in-out 0.3s;
}

.get-in-touch .contact .btn:hover {
  background-color: #55B7FF;
  border: none;
  color: #FFFFFF;
}

.footer-holder {
  max-width: 770px;
  width: 100%;
  padding: 55px 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.footer-holder .social-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-holder .social-item {
  padding: 0 20px;
}

.footer-holder .social-item:first-child {
  padding-left: 0;
}

.footer-holder .social-item:last-child {
  padding-right: 0;
}

.footer-holder .social-item a {
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  transition: all 1s ease-out;
  text-align: center;
  line-height: 40px;
}

.footer-holder .social-item a:hover {
  background-color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #2C4058;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #2C4058;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #2C4058;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1170px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
}

li {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
}

.btn {
  display: inline-block;
  padding: 16px 41px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #2C4058;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .header .nav {
    align-items: center;
  }
}